* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #2f302b;
}

#glsl_editor {
  margin-left: min(20%, 200px);
}

#panel {
  position: fixed;
  height: 100%;
  width: min(20%, 200px);
  display: flex;
  flex-direction: column;
  overflow: none;
}

#panel div {
  height: 50px;
  font-family: Helvetica, Geneva, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #888;
  box-shadow: 0 3px 8px 0px rgb(126 126 126 / 18%);
  cursor: pointer;
}